# --- AWS SAM ---
.aws-sam/
samconfig.toml

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# --- Tests ---
.pytest_cache/
.coverage
htmlcov/

# --- IDE & OS ---
.idea/
.vscode/
.DS_Store

# --- Environnement & Secrets ---
.env
